@page
@model EduCenterWeb.Pages.User.MyInfoModel
@{
    ViewData["Title"] = "MyInfo";
    Layout = "~/Pages/Shared/_EduMainApp.cshtml";
}
<style></style>
    <div class="MainContainer">
        <div class="ProfileHeader">
            <div class="ImgHeaderArea">
                <img src="" /> 
            </div>
            <div class="UserSimpleInfo">
                <div class="Name"></div>
            </div>
        </div>

        <div class="ProfileBody">

        </div>
    </div>

