@page
@model EduCenterWeb.Pages.User.MyTrialModel
@{
    ViewData["Title"] = "MyTrial";
    Layout = "~/Pages/Shared/_EduMainApp.cshtml";
}

@Html.AntiForgeryToken()
    <style type="text/css">
        .MainContainer {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 10px;
            height: 100%;
        }

        .MainTitle {
            color: #f7e6b8;
            text-align: center;
            font-size: 20px;
            margin-top: 30px;
            margin-bottom: 10px;
            background-color: #fe852a;
            width: 90%;
            border-radius: 8px;
            font-weight: bold;
            border: solid 1px;
        }


        .MyTrialList {
        }
    </style>
<div class="MainContainer">
    <div class="MainTitle"><i class="fa fa-telegram" aria-hidden="true" style="margin-right:10px;"></i>试听申请</div>
    <div class="MyTrialList">
        <div class="Trial">
            <div class="oneline">
                <div class="">美术课</div>
                <div class="">2019年3月19号 10：00-11：00   </div>
            </div>
            <div class="oneline">
                <div class="">已参加</div>

            </div>

        </div>
    </div>

</div>
     

