
* {margin: 0; padding: 0;}
.LeftMenu{
    position:absolute;
    right:30px;
    top:18px;
    cursor:pointer;
    font-size:14px;
}
.LeftMenu i {
    padding-right: 5px;
    vertical-align:middle;
}
/*.transleft{
    transform: translateX(150px);
            
}*/


.sidenav {
    background: #757572;
    width: 150px;
    position: absolute;
    right: 0;
    top: 50px;
    bottom: 0;
    display: none;
    margin-bottom: unset !important;
    display:flex;
    flex-direction:column;

}
    .sidenav li {
        list-style-type: none;
        height:40px;
     
    }
    .sidenav li:active {
        background: #f7a945
    }
    .sidenav li>div {
        display: flex;
        /*justify-content: space-around;*/
        color: white;
        align-items: center;
        padding-left:20px;
        width:100%;
        height:100%;

    }
    .sidenav li > div>i{
        padding-right:10px;
    }
        .sidenav a {
            text-decoration: none;
        }
    .sidenav b {
        font: bold 14px Montserrat;
        cursor: pointer;
        /*opacity: 0; transform: translateX(50px); transition: all 0.4s;*/
    }

.bShow {opacity: 1; transform: translateX(0);}

.sidenav i {

}