@page
@model EduCenterWeb.Pages.WebBackend.User.AdjustUserCourseModel
@{
    ViewData["Title"] = "AdjustUserCourse";
    Layout = "~/Pages/Shared/_EduWebDialog.cshtml";
}

@Html.AntiForgeryToken()
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="~/lib/jquery.blockUI/jquery.blockUI.js"></script>
<script src="~/js/EduLib/EditHelper.js"></script>
<script src="~/lib/laydate/laydate.js"></script>
<script src="~/lib/layer-v3.1.1/layer/layer.js"></script>
<script src="~/js/WebBackEnd/User/AdjustUserCourse.js"></script>

<div>

</div>
