@page
@model EduCenterWeb.Pages.WebBackend.User.DetailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}
<div>
    <div class="SubTitle">宝贝信息</div>
    <div>
        <div class="oneRow">
            <div  class="layui-field-title">姓名：</div>
            <div><input type="text" class="layui-elem-field" /></div>
        </div>
        
    </div>
</div>


