@page
@model EduCenterWeb.Pages.WebBackend.User.ListModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}

<h2>用户列表</h2>
<div class="MainContainer">
    <div class="OptionArea">

    </div>
    <div class="DataArea">

    </div>
    <div class="PagerArea">

    </div>

</div>
