@page
@model EduCenterWeb.Pages.Teacher.DayCourseModel
@{
    ViewData["Title"] = "DayCourse";
    Layout = "~/Pages/Shared/_EduMainAppTec.cshtml";
}
    <script src="~/lib/laydate/laydate.js"></script>
<script src="~/js/Wap/Tec/DayCourse.js?v=@Model.jsVersion"></script>
<style type="text/css">
     .MainContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        height: 100%;
    }

  .Title {
        color: #864b00;
        background-color: #fdec96;
      
       
    }

  .DateArea {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 40px;
        margin-bottom:20px;
    }

        .DateArea .CalendarPicker {
            display: flex;
            color: #9da09b;
        }

        .DateArea .DateLabel {
            font-weight: bold;
            line-height: 40px;
        }

        .DateArea .CalendarPicker .DateInput {
            border-bottom: solid 1px #808080;
            width: 150px;
            line-height: 40px;
            padding-left: 15px;
            color: #12aa21;
            font-size: 16px;
            font-weight: bold;
        }
        .AllCourse{
            width:95%;

        }
        .CourseTitle{
            display:flex;
            justify-content:space-between;
            padding-left:10px;
            padding-right:10px;
            padding-top:2px;
            padding-bottom:2px;
            border-radius:8px;
        }
        .UserInfoList{
            margin-top:10px;
        }
        .OneUser{
            display:flex;
            justify-content:space-between;
            margin-bottom:4px;
        }
        .UserName{

        }
</style>
<div class="MainContainer">
    <div class="Title">课程</div>
    <div class="DateArea">
        <div class="DateLabel">选择日期：</div>
        <div class="CalendarPicker">
            <div class="DateInput">@DateTime.Now.ToString("yyyy-MM-dd")</div>
            <div class="fa fa-calendar fa-2x" id="btn_DatePick"></div>
        </div>
    </div>
    <div class="AllCourse">
    
      

    </div>
</div>
<div id="HideData" style="display:none;">
    <div id="OneCourseData">
        <div class="CourseTitle bg-primary">
            <div class="CouseInfo">【美术课】 12:30开始</div>
            <div class="SwitchDetail">学生详情<i class="fa fa-caret-left" style="margin-left:5px;"></i></div>
        </div>

        <hr />
    </div>

    <div class="UserInfoList">
        <div class="OneUser">
            <div class="UserName">学生姓名:xxx</div>
            <div class="">已签到</div>
        </div>
        <div class="OneUser">
            <div class="UserName">学生姓名:xxx</div>
            <div class="">已签到</div>
        </div>
    </div>


</div>

