@page
@model EduCenterWeb.Pages.Teacher.DayCourseModel
@{
    ViewData["Title"] = "DayCourse";
    Layout = "~/Pages/Shared/_EduMainAppTec.cshtml";
}
@Html.AntiForgeryToken()
<script src="~/lib/laydate/laydate.js"></script>
<link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
<script src="~/lib/jquery.blockUI/jquery.blockUI.js"></script>
<script src="~/js/EduLib/Common.js?v=@Model.jsVersion"></script>
<script src="~/js/EduLib/EditHelper.js?v=@Model.jsVersion"></script>
<script src="~/js/Wap/Tec/DayCourse.js?v=@Model.jsVersion"></script>
<style type="text/css">
    .MainContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        height: 100%;
    }

    .Title {
        color: #864b00;
        background-color: #fdec96;
    }

    .DateArea {
        width: 100%;
        display: flex;
        justify-content: space-around;
        height: 40px;
        margin-bottom: 20px;
    }

        .DateArea .CalendarPicker {
            display: flex;
            color: #9da09b;
            align-items:center;
        }

        .DateArea .DateLabel {
            font-weight: bold;
            line-height: 40px;
        }

        .DateArea .CalendarPicker .DateInput {
            border-bottom: solid 1px #808080;
            width: 120px;
            line-height: 40px;
            padding-left: 15px;
            color: #12aa21;
            font-size: 16px;
            font-weight: bold;
        }

    .AllCourse {
        width: 95%;
    }

    .CourseTitle {
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 8px;
    }

    .UserInfoList {
        margin-top: 5px;
        display:flex;
        flex-direction:column;
        width:95%;
    }
    .btnRefresh{
        align-self:flex-end;
    }

    .OneUser {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        flex-direction:column;
    }

    .UserName {
    }
    .tecOperation
    {
        display:flex;
        justify-content:flex-end;   
        width:100%;
    }
    .OneUserInfo{
        margin-bottom:5px;
    }
</style>
<div class="MainContainer">
    <div class="Title">课程</div>
    <div class="DateArea">
        <div class="DateLabel">选择日期：</div>
        <div class="CalendarPicker">
            <div class="DateInput">@DateTime.Now.ToString("yyyy-MM-dd")</div>
            <div class="fa fa-calendar fa-2x" id="btn_DatePick"></div>
        </div>
        <div class="btnRefresh"><input type="button" class="btn btn-warning btn-sm" value="刷新" /></div>
    </div>
  
    <div class="AllCourse">



    </div>
</div>
<div id="HideData" style="display:none;">
    <div class="OneCourseData">
        <div class="CourseTitle bg-info">
            <div class="CouseInfo"></div>
            <div class="SwitchDetail" lCode="">学生详情<i class="fa fa-caret-left" style="margin-left:5px;"></i></div>
        </div>
        <div class="UserInfoList">

        </div>
        <hr />
    </div>


    <div class="OneUser">
        <div class="OneUserInfo">
            <div class="UserName">学生姓名:xxx</div>

            @*<div class="RemainTime">剩余课时:4小时</div>*@
            <div class="UserStatus ">已签到</div>
        </div>
        <div class="tecOperation">
            @*<input type="button" class="btn btn-warning btn-xs" value="请假" />*@
            <input type="button" id="btnSignForUser" class="btn btn-primary btn-xs" value="帮忙代签" />

        </div>
    </div>

    

</div>

