@page
@model EduCenterWeb.Pages.WebBackend.HomeModel
@{
    //  ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}
@section navBar{
    <li><a href="/Home">主页</a></li>
}
<style type="text/css">
    .OneLog{
        margin:15px;
        font-size:20px;
    }
    .ImportPoint{
        font-size:24px;
        color:#ff6a00;
    }
</style>
<div>
    <div class="OneLog">
        <div>
            <label> 2019-7-29 更新</label>
        </div>
        <div>1.用户上课使用情况</div>
        <div>2.试听课时间调整</div>
        <div>3.围棋试听课调整</div>
    </div>
    <div class="OneLog">
        <div>
            <label> 2019-7-26 重大更新</label>
        </div>
        <div class="ImportPoint">1.用户课程调整</div>
        <div>2.学生请假提醒</div>
    </div>
    <div class="OneLog">
        <div>
            <label> 2019-7-22 更新</label>
        </div>
        <div>1.教师签到</div>
        <div>
            2.教师签到提醒
        </div>
        <div>3.奖励金玩法</div>
        <div>4.关注提醒</div>
    </div>

    <div class="OneLog">
        <div>
            <label> 2019-07-23 更新</label>
        </div>
        <div>1.试听课添加用户奖励金微信提醒</div>
        <div>2.试听课后，用户余额发生变化</div>

    </div>

    <div class="OneLog">
        <div>
            <label> 2019-07-18 更新</label>
        </div>
        <div>1.添加线下支付功能</div>
        <div>2.商户输入收款金额，用户扫码直接支付</div>

    </div>
    <div class="OneLog">
        <div>
            <label> 2019-07-16 更新</label>
        </div>
        <div>1.用户列表添加更多字段过滤功能</div>
        <div>2.用户列表添加关注字段</div>
        <div>3.手机验证时，宝贝姓名必填</div>
    </div>
    <div class="OneLog">
        <div>
            <label> 2019-07-16 更新</label>
        </div>
        <div>1.新增【邀请码】生成功能</div>
        <div>2.新增邀请记录简单查询</div>
        <div>3.新增邀请记录详细列表</div>
        <div>4.被邀请用户将绑定邀请人</div>
        <div>5.被邀请用户注册手机，邀请人返利</div>
        <div>6.被邀请用户支付，邀请人返利</div>
    </div>
    <div class="OneLog">
        <div>
            <label>2019.07.11 更新</label>
        </div>
        <div>
            1.菜单试听课，用户信息调整到上部
        </div>
        <div>
            2.【试听课】 用户字段不是用户微信名称，是用户自己填写的名字
        </div>
        <div>
            3 【试听课】添加联系方式
        </div>
        <div>
            4.【试听课】添加编辑功能，如用户需要更改试听日期等信息，工作人可以处理
        </div>
        <div>
            5.【试听课】添加微信提醒功能。
        </div>
        <div>
            工作人后台处理试听课信息，用户公众号对应的试听课也发生变化
        </div>
    </div>

</div>

