@page
@model EduCenterWeb.Pages.WebBackend.HomeModel
@{
    //  ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}
@section navBar{
    <li><a href="/Home">主页</a></li>
}
<div>
    <div class="OneLog">
        <div>
            <label> 2018-07-16 更新</label>
        </div>
        <div>1.用户列表添加更多字段过滤功能</div>
        <div>2.用户列表添加关注字段</div>
        <div>3.手机验证时，宝贝姓名必填</div>
    </div>
    <div class="OneLog">
        <div>
            <label> 2018-07-16 更新</label>
        </div>
        <div>1.新增【邀请码】生成功能</div>
        <div>2.新增邀请记录简单查询</div>
        <div>3.新增邀请记录详细列表</div>
        <div>4.被邀请用户将绑定邀请人</div>
        <div>5.被邀请用户注册手机，邀请人返利</div>
        <div>6.被邀请用户支付，邀请人返利</div>
    </div>
    <div class="OneLog">
        <div>
            <label>2019.07.11 更新</label>
        </div>
        <div>
            1.菜单试听课，用户信息调整到上部
        </div>
        <div>
            2.【试听课】 用户字段不是用户微信名称，是用户自己填写的名字
        </div>
        <div>
            3 【试听课】添加联系方式
        </div>
        <div>
            4.【试听课】添加编辑功能，如用户需要更改试听日期等信息，工作人可以处理
        </div>
        <div>
            5.【试听课】添加微信提醒功能。
        </div>
        <div>
            工作人后台处理试听课信息，用户公众号对应的试听课也发生变化
        </div>
    </div>

</div>

