@page
@model EduCenterWeb.Pages.WebBackend.HomeModel
@{
    //  ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}
@section navBar{
    @*<li><a href="index.html">Admin Panel</a></li>
        <li><a href="#">Dashboard</a></li>
        <li class="active">Overview</li>
        <li><a href="sign-in.html">Sign In Form</a></li>*@

}
@Model.Msg
<h2>Home</h2>