@page
@*@model EduCenterWeb.Pages.WebBackend.HomeModel*@
@{
    //  ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}
@section navBar{
    <li><a href="/Home">主页</a></li>


}

<h2>Home</h2>