@page
@model EduCenterWeb.Pages.Test.DemoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div>@Model.Msg</div>
        <form method="post">
            <input type="submit" value="创建老师邀请码" asp-page-handler="CreateTecQR" />
        </form>
    </div>
    <hr />
    <div>
        <div>@Model.DbTest</div>
        <form method="post">
            <input type="submit" value="DbTest" asp-page-handler="TestDb" />
        </form>
    </div>
    <hr />
    <div>
       
        <form method="post">
            <input type="submit" value="支付课时" asp-page-handler="PayCourseTime" />
        </form>
    </div>

    <div>
       
        <form method="post">
            <input type="submit" value="JsonHoliday" asp-page-handler="GetHolidayJson" />
        </form>
    </div>
</body>
</html>
