@page
@model EduCenterWeb.Pages.Test.DemoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body>
   
</body>
</html>
