@page
@model EduCenterWeb.Pages.Test.DemoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <ul class="list-group">
        <li class="list-group-item active">老师1</li>
        <li class="list-group-item">老师1</li>
        <li class="list-group-item">老师1</li>
        <li class="list-group-item">老师1</li>
        @*<li class="list-group-item">老师1</li>
        <li class="list-group-item">老师1</li>
        <li class="list-group-item">老师1</li>
        <li class="list-group-item">老师1</li>
        <li class="list-group-item">老师1</li>
        <li class="list-group-item">老师1</li>
        <li class="list-group-item">老师1</li>
        <li class="list-group-item">老师1</li>
        <li class="list-group-item">老师1</li>
        <li class="list-group-item">老师1</li>
        <li class="list-group-item">老师1</li>*@
    </ul>
</body>
</html>
