@page
@model EduCenterWeb.Pages.Test.FlowPageModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FlowPage</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/layui/layui.js"></script>
    <script src="~/lib/layui/lay/modules/flow.js"></script>

    <script src="~/js/Test.js"></script>
</head>
<body>
    <ul id="demo">
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
    </ul>
</body>
</html>
