<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />  
    <meta name="viewport" content="width=device-width" />
    <title>云艺书院</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    @*<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1">*@
    <style type="text/css">
        body{
            margin:0;
            font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
        }

    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
