<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>云艺书院后台管理</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/WebMain.css" rel="stylesheet" />
    <script type="text/javascript">
        function SwitchMenu(obj) {
            if($(obj).parent().hasClass('open')) {
			$(obj).parent().removeClass('open');
		} else {
			$(obj).parent().addClass('open');
		}
        }
        $(document).ready( function() {        

	// sidebar menu click
	//$('.templatemo-sidebar-menu li.sub a').click(function(){
		
	//});  // sidebar menu click

        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <div class="logo"><h1>云艺书院后台管理</h1></div>
           
            <div class="navbar-userinfo"><a href="#">退出</a></div>
        </div>
    </div>
    <div class="template-page-wrapper">
        <div class="navbar-collapse collapse templatemo-sidebar">
            <ul class="templatemo-sidebar-menu">
                @*<li>
            <form class="navbar-form">
                <input type="text" class="form-control" id="templatemo_search_box" placeholder="Search...">
                <span class="btn btn-default">Go</span>
            </form>
        </li>*@

                <li class="active"><a href="#"><i class="fa fa-home"></i>首页</a></li>
                <li><a href="#"><i class="fa fa-users"></i>教师管理</a></li>
                <li><a href="#"><i class="fa fa-cubes"></i>课程安排</a></li>
                @*<li class="sub open">
            <a href="javascript:;" onclick="SwitchMenu(this);">
                <i class="fa fa-database"></i> Nested Menu <div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
                <li><a href="#">Aenean</a></li>
                <li><a href="#">Pellentesque</a></li>
                <li><a href="#">Congue</a></li>
                <li><a href="#">Interdum</a></li>
                <li><a href="#">Facilisi</a></li>
            </ul>
        </li>*@
                @*<li><a href="data-visualization.html"><i class="fa fa-cubes"></i><span class="badge pull-right">9</span>Data Visualization</a></li>
        <li><a href="maps.html"><i class="fa fa-map-marker"></i><span class="badge pull-right">42</span>Maps</a></li>
        <li><a href="tables.html"><i class="fa fa-users"></i><span class="badge pull-right">NEW</span>Manage Users</a></li>
        <li><a href="preferences.html"><i class="fa fa-cog"></i>Preferences</a></li>
        <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>Sign Out</a></li>*@

            </ul>
        </div>
        <div class="templatemo-content-wrapper">
            <div class="templatemo-content">
                <ol class="breadcrumb">
                    @RenderSection("navBar", false);
                  
                </ol>
                @RenderBody()
            </div>
        </div>
    </div>
    
</body>
</html>
