<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>云艺书院后台管理</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/fonts/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/WebMain.css" rel="stylesheet" />
    <script type="text/javascript">
        function SwitchMenu(obj) {
            if($(obj).parent().hasClass('open')) {
			    $(obj).parent().removeClass('open');
		    } else {
			    $(obj).parent().addClass('open');
		    }
        }  
    </script>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <div class="logo"><h1>云艺书院后台管理</h1></div>
           
            <div class="navbar-userinfo"><a href="#">退出</a></div>
        </div>
    </div>
    <div class="template-page-wrapper">
        <div class="navbar-collapse collapse templatemo-sidebar">
            <ul class="templatemo-sidebar-menu">
                @*<li>
            <form class="navbar-form">
                <input type="text" class="form-control" id="templatemo_search_box" placeholder="Search...">
                <span class="btn btn-default">Go</span>
            </form>
        </li>*@

                <li><a href="#"><i class="fa fa-home"></i>首页</a></li>
                <li class="sub open active">
                    <a href="javascript:;" onclick="SwitchMenu(this);">
                        <i class="fa fa-database"></i> 主数据 <div class="pull-right"><span class="caret"></span></div>
                    </a>
                    <ul class="templatemo-submenu">
                        <li><a href="/WebBackEnd/MasterData/Tec"><i class="fa fa-users"></i>教师管理</a></li>
                        <li><a href="/WebBackEnd/MasterData/Course"><i class="fa fa-users"></i>课程信息</a></li>
                    </ul>
                </li>
                <li class="sub open active">
                    <a href="javascript:;" onclick="SwitchMenu(this);">
                        <i class="fa fa-database"></i> 报名排课 <div class="pull-right"><span class="caret"></span></div>
                    </a>
                    <ul class="templatemo-submenu">
                        <li><a href="/WebBackEnd/Course/Plan"><i class="fa fa-users"></i>标准课</a></li>
                    </ul>
                </li>
                <li class="sub open active">
                    <a href="javascript:;" onclick="SwitchMenu(this);">
                        <i class="fa fa-database"></i> 教师课程情况 <div class="pull-right"><span class="caret"></span></div>
                    </a>
                    <ul class="templatemo-submenu">
                        <li><a href="/WebBackEnd/Tec/CoursingStand"><i class="fa fa-users"></i>标准班</a></li>
                        <li><a href="/WebBackEnd/User/ApplySummer"><i class="fa fa-users"></i>暑假班</a></li>
                        <li><a href="/WebBackEnd/User/ApplyWinter"><i class="fa fa-users"></i>寒假班</a></li>
                    </ul>
                </li>
                <li class="sub open active">
                    <a href="javascript:;" onclick="SwitchMenu(this);">
                        <i class="fa fa-database"></i> 试听课 <div class="pull-right"><span class="caret"></span></div>
                    </a>
                    <ul class="templatemo-submenu">
                        <li><a href="/WebBackEnd/Tec/TrialCourse"><i class="fa fa-users"></i>查询</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="templatemo-content-wrapper">
            <div class="templatemo-content">
                <ol class="breadcrumb">
                    @RenderSection("navBar", false)
                  
                </ol>
                @RenderBody()
            </div>
        </div>
    </div>
    
</body>
</html>
