<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width" />
    @*<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1, maximum-scale=1, user-scalable=no">*@
    <title>云艺书院</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <style type="text/css">
        body {
            margin: 0;
            font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
        }

        .TaoBaoFont {
            font: 12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
        }

        .font2 {
            font-family: proxima-nova,"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
