@page
@model EduCenterWeb.Pages.WebBackend.Tec.LeaveModel
@{
    ViewData["Title"] = "Leave";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}
@section navBar{
    <li><a href="/WebBackend/Home">主页</a></li>
}

<style type="text/css">
    .MainContainer {
        display: flex;
        flex-direction: column;
    }

        .MainContainer .DataFilterBar {
            display: flex;
            height: 34px;
            line-height: 34px;
            width: 800px;
            justify-content: space-around;
            margin-bottom: 20px;
        }

            .MainContainer .DataFilterBar div {
                display: flex;
                /*justify-content: space-around;*/
            }

                .MainContainer .DataFilterBar div #selDate {
                    text-align: left;
                    width: 120px;
                }

                .MainContainer .DataFilterBar div #selTecCode {
                    text-align: left;
                    width: 120px;
                }

    .CalendarPicker {
        /*width:380px;*/
    }

        .CalendarPicker #btn_Add {
            margin-right: 10px;
            margin-top: 2px;
        }

        .CalendarPicker #btn_Del {
            margin-left: 10px;
        }

        .CalendarPicker .StartDateInput {
            width: 100px;
            border-bottom: solid 1px #808080;
            padding-left: 20px;
            color: #00ce1d;
            font-weight: bold;
        }

    .DataContent {
    }

        .DataContent .TableData {
            height: 450px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

            .DataContent .TableData #TableLeave {
                width: 80%;
                margin: 20px;
            }

    #TableLeave tr th {
        border: solid 1px #808080;
        height: 24px;
        line-height: 24px;
        padding-left: 8px;
    }

    #TableLeave tr td {
        border: solid 1px #808080;
        height: 30px;
        line-height: 30px;
        padding-left: 8px;
    }

    #Pager {
        margin-left: 20px;
    }


    .DataContent .DataMsg {
        height: 450px;
        line-height: 450px;
        text-align: center;
        display: none;
    }

    .DetailLessonList {
        display: flex;
    }

        .DetailLessonList div {
            margin-right: 10px;
        }
</style>
<style type="text/css">
    .TitleIcon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        /*color:#00d31b;*/
    }

    .btnIcon {
        width: 32px;
        height: 32px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        /*color:#00d31b;*/
    }
</style>
<script type="text/javascript" src="~/lib/iconfont.js"></script>

<script src="~/lib/laydate/laydate.js"></script>
<script src="~/lib/layer-v3.1.1/layer/layer.js"></script>
<link href="~/lib/layui/css/layui.css" rel="stylesheet" />
<script src="~/lib/layui/layui.js"></script>
<script src="~/lib/layui/lay/modules/laypage.js"></script>

<script src="~/js/WebBackEnd/Tec/Leave.js"></script>

<div class="MainContainer">
    <div class="DataFilterBar">
        <div class="CalendarPicker">
            <svg class="btnIcon" id="btn_Add" aria-hidden="true" onclick="Add();">
                <use xlink:href="#icon-btnright"></use>
            </svg>
            <label>月份：</label>
            <div>
                <div class="StartDateInput"></div>
                <div class="fa fa-calendar fa-2x btnCalendarIcon" id="btn_StartDatePick"></div>
            </div>
            <svg class="btnIcon" id="btn_Del" aria-hidden="true" onclick="Del();">
                <use xlink:href="#icon-btnleft"></use>
            </svg>
        </div>
        <div>
            <label>老师：</label>
            <select id="selTecCode" class="form-control">
                <option value="">全部</option>
                @foreach (var tec in Model.TecList)
                {
                    <option value="@tec.Code">@tec.Name</option>
                }
            </select>
        </div>
        <div>
            <input id="btn_CreateLeave" type="button" value="创建教师请假" class="btn btn-info" />
        </div>
    </div>

    <div class="DataContent">
        <div class="TableData">
            <table id="TableLeave" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <th>教师编号</th>
                    <th>教师名称</th>
                    <th>请假日期</th>
                    <th>请假类型</th>
                    <th width="50%">具体课程</th>
                </tr>

            </table>
            <div id="Pager"></div>
        </div>
        <div class="DataMsg">没有数据</div>
    </div>
</div>
<div id="HideData" style="display:none">
    <div class="DetailLessonList">

    </div>
</div>
