@page
@model EduCenterWeb.Pages.WebBackend.Tec.TrialCourseModel
@{
    ViewData["Title"] = "TrialCourse";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}
@section navBar{
    <li><a href="/WebBackend/Home">主页</a></li>
}

<style>
    .MainContainer {
        display: flex;
        flex-direction: column;
    }

        .MainContainer .DataFilterBar {
            display: flex;
            height: 34px;
            line-height: 34px;
            width: 740px;
            /*justify-content: space-around;*/
            margin-bottom: 20px;
        }

            .MainContainer .DataFilterBar> div {
                display: flex;
                justify-content: space-around;
            }

                .MainContainer .DataFilterBar div #selDate {
                    text-align: left;
                   
                }

                .MainContainer .DataFilterBar div #selTecCode {
                    text-align: left;
                    width: 120px;
                }
    .DateFilter {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 40px;
        margin-bottom: 30px;
    }

        .DateFilter .CalendarPicker {
            display: flex;
            color: #9da09b;
            width:180px;
        }
        .DateFilter .CalendarPicker .btnCalendarIcon{
                align-self: center;
                padding-left:10px;
        }

        .DateFilter .DateLabel {
            font-weight: bold;
            line-height: 40px;
        }

        .DateFilter .CalendarPicker .StartDateInput {
            border-bottom: solid 1px #808080;
            /*width: 100%;*/
            line-height: 40px;
            padding-left: 5px;
             padding-right: 5px;
            color: #12aa21;
            font-size: 16px;
            font-weight: bold;
        }
         .DateFilter .CalendarPicker .EndDateInput {
            border-bottom: solid 1px #808080;
            /*width: 100%;*/
            line-height: 40px;
           padding-left: 5px;
             padding-right: 5px;
            color: #12aa21;
            font-size: 16px;
            font-weight: bold;
        }
         .ApplyStatus{
             color:#bb0202;
             font-weight:bold;
         }
         .ConfirmStatus{
              color:#12aa21;
             font-weight:bold;
         }
      .FieldChildName{
          cursor:pointer;
          color:#1474f4;
      }

</style>
<style type="text/css">
    .TitleIcon {
        width: 1em;
        height: 1em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        /*color:#00d31b;*/
    }

    .btnIcon {
        width: 32px;
        height: 32px;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        /*color:#00d31b;*/
    }
</style>
<script type="text/javascript" src="~/lib/iconfont.js"></script>
<script src="~/lib/layer-v3.1.1/layer/layer.js"></script>
<link href="~/lib/layui/css/layui.css" rel="stylesheet" />

<script src="~/lib/laydate/laydate.js"></script>
<script src="~/lib/layui/layui.js"></script>
<script src="~/lib/layui/lay/modules/table.js"></script>


<script src="~/js/WebBackEnd/Tec/TrialCourse.js?v=@Model.jsVersion"></script>
<h2>试听课</h2>
<div class="MainContainer">
    <div class="DataFilterBar">
        <div class="DateFilter">
            <div class="DateLabel">开始日期：</div>
            <div class="CalendarPicker">
                <div class="StartDateInput"></div>
                <div class="fa fa-calendar fa-2x btnCalendarIcon" id="btn_StartDatePick"></div>
            </div>
            <div class="DateLabel">结束日期：</div>
            <div class="CalendarPicker">
                <div class="EndDateInput"></div>
                <div class="fa fa-calendar fa-2x btnCalendarIcon" id="btn_EndDatePick"></div>
            </div>
        </div>
        <div>
            <label style="width:60px;">老师：</label>
            <select id="selTecCode" class="form-control">
                <option value="">全部</option>
                @foreach (var tec in Model.TecList)
                {
                    <option value="@tec.Code">@tec.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="DataContent">
        <table id="CourseList" lay-filter="AdminOption"></table>
        <script type="text/html" id="TableToolBar">
            <input type="button" class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit" value="编辑" />

            {{#  if(d.WxRemindCount ==0){ }}
            <input type="button" class="layui-btn layui-btn-xs" lay-event="wxRemind" value="微信提醒" />
            {{#  } else { }}
            <input type="button" disabled class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="wxRemind" value="已经提醒" />
            {{#  }  }}

            {{#  if(d.InviteOwnId !=""){ }}
            {{#  if(d.HasRewarded == false){ }}
                <input type="button" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="sendReward" value="发送奖励" />
            {{#  } else { }}
                <label>已奖励</label>
            {{# } }  }}
        </script>
    </div>
</div>

