@page
@model EduCenterWeb.Pages.WebBackend.Tec.TrialCourseModel
@{
    ViewData["Title"] = "TrialCourse";
    Layout = "~/Pages/Shared/_EduMainPCWeb.cshtml";
}
@section navBar{
    <li><a href="/Home">主页</a></li>
}
@Html.AntiForgeryToken()

<h2>TrialCourse</h2>

