body {
    margin: 0;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

.TaoBaoFont {
    font: 12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
}

.font2 {
    font-family: proxima-nova,"Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.TextNoWrap {
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}
