.MainContainer {
    display: flex;
}

.MainContainer .LeftList {
    width: 220px;
    height: 400px;
    /*border:solid 1px #808080;*/
    overflow-y: auto;
}

.MainContainer .LeftList ul {
width: 200px;
}

.MainContainer .LeftList ul li {
    width: 200px;
    cursor: pointer;
}
/*标题行*/
.TitleBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 90%;
}
.TitleBarButtonList {
    display: flex;
    justify-content: space-around;
    width: 18%;
}

.TitleBar .TitleBarButtonList .btn {
   width:80px;
}
/*标题字*/
.Title {
    font-size: 22px;
}

.MainContainer .RightDetail {
    display: flex;
    flex-direction:column;
    padding:15px;
}

.BtnBottomList{
    text-align:center;
    margin-top:20px;
}
a{cursor:pointer;}


/* Form Begin */
.FormFields {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 5px;
}

.FieldRow {
    display: flex;
    /*justify-content:space-between;*/
    margin: 4px;
    height: 35px;
    line-height: 35px;
}

.TreeRow {
    display: flex;
    flex-direction: column;
    margin: 4px;
    border-top: solid 1px #d2cfcf;
    padding-top: 15px;
}
.TreeRow .TreeLevel2 {
    display: flex;
    margin: 4px;
    height: 25px;
    line-height: 25px;
    justify-content: center;
    width: 70%;
    align-self: flex-end;
}
.TreeRow .TreeLevel2 div .form-control {
    height: 25px;
    line-height: 25px;
    width: 80px;
    padding:4px;
}


.FieldLabel {
    width: 25%;
    text-align: center;
}

.FieldValue {
    width: 40%;
}
/* Form End*/
