.MainContainer {
    display: flex;
}

.MainContainer .LeftList {
    width: 220px;
    height: 400px;
    /*border:solid 1px #808080;*/
    overflow-y: scroll;
}

.MainContainer .LeftList ul {
width: 200px;
}

.MainContainer .LeftList ul li {
    width: 200px;
    cursor: pointer;
}

.TitleBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 90%;
}

.Title {
    font-size: 22px;
}

.MainContainer .RightDetail {
    display: flex;
    flex-direction:column;
}

.BtnBottomList{
    text-align:center;
    margin-top:20px;
}
a{cursor:pointer;}
