@page
@model EduCenterWeb.Pages.Tools.QRScanModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QRScan</title>
</head>
<body>
    暂时没有跳转的内容哦~！
</body>
</html>
